@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="light"] {
  --background: theme("colors.tan");
  --background-secondary: theme("colors.tan");

  --accent-dark: theme("colors.darkgray"); /* Bottom Bar */
  --accent-medium: theme("colors.brown.100"); /* Middle Bar */
  --accent-light: theme("colors.slate.800");

  --primary-dark: theme("colors.tomato.400");
  --primary-medium: theme("colors.brown.100"); /* Top Bar * Switch */
  --primary-light: theme("colors.browny.900");
}

[data-theme="dark"] {
  --background: theme("colors.stone.600");
  --background-secondary: theme("colors.stone.600");

  --accent-dark: theme("colors.tan"); /* Bottom Bar */
  --accent-medium: theme("colors.tomato.300"); /* Middle Bar */
  --accent-light: theme("colors.tan");

  --primary-dark: theme("colors.sandy_brown.600");
  --primary-medium: theme("colors.stone.500"); /* Top Bar & Switch */
  --primary-light: theme("colors.white");
}
